[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[scripts]
lint-autopep8 = "autopep8 --recursive --diff src"
lint-mypy = "mypy src"
lint-editorconfig = "ec"
start = "python -m example/src"
build = "python setup.py sdist"

[packages]
coconut-ai = {path = ".", editable = true}
