name: 'Release'

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: 'ubuntu-latest'
    environment:
      name: 'pypi'
      url: 'https://pypi.org/p/coconut-ai'
    permissions:
      contents: 'write'
      issues: 'write'
      pull-requests: 'write'
      id-token: 'write'
    steps:
      - uses: 'actions/checkout@v4.1.1'
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Setup Python'
        uses: 'actions/setup-python@v4.7.1'
        with:
          python-version: '3.10.x'

      - name: 'Install Pipenv'
        run: 'pip install pipenv'

      - run: 'pipenv install --dev'

      - run: 'pipenv run build'

      - name: 'Publish package distributions to PyPI'
        uses: 'pypa/gh-action-pypi-publish@release/v1'
